Performance_Plan_Navigate_to_Active_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_Plan</name>
        <label>Go to Plan</label>
        <locationX>507</locationX>
        <locationY>362</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>PM_Performance_Plan__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>getMostRecentPerformancePlan.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Plan02</name>
        <label>Go to Plan</label>
        <locationX>1054</locationX>
        <locationY>584</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>PM_Performance_Plan__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>createPerformancePlan</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>choiceCreatePlanYES</name>
        <choiceText>&lt;b style=&quot;font-size: 14px;&quot;&gt;YES&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; - please create a draft plan for me&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>DraftRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <decisions>
        <name>decNoExistingPerformancePlan</name>
        <label>No Existing Performance Plan?</label>
        <locationX>313</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Go_to_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Plan Exists</defaultConnectorLabel>
        <rules>
            <name>outcomeNoPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMostRecentPerformancePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen01</targetReference>
            </connector>
            <label>No Plan</label>
        </rules>
    </decisions>
    <description>An employee can navigate to their most recent performance plan from the service catalog, and if they don&apos;t have a plan, the employee has the option to create a draft plan along the way.

1/14/21:  Only change is the flow label was renamed</description>
    <formulas>
        <name>CurrentYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Performance Plan - Navigate to Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Performance - Navigate to Plan</label>
    <loops>
        <name>loopToAssignEachToPlan</name>
        <label>Assign Each to Plan</label>
        <locationX>857</locationX>
        <locationY>583</locationY>
        <collectionReference>Get_Competencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createCompetencyOnPlan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Go_to_Plan02</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCompetencyOnPlan</name>
        <label>Create Competency on Plan</label>
        <locationX>856</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>loopToAssignEachToPlan</targetReference>
        </connector>
        <inputAssignments>
            <field>Competency__c</field>
            <value>
                <elementReference>loopToAssignEachToPlan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>loopToAssignEachToPlan.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performance_Plan__c</field>
            <value>
                <elementReference>createPerformancePlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>loopToAssignEachToPlan.Name</elementReference>
            </value>
        </inputAssignments>
        <object>PM_Employee_Competency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createPerformancePlan</name>
        <label>Create Performance Plan</label>
        <locationX>590</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>Get_Competencies</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>getUsersContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getPMPlanDraftRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>CurrentYear</elementReference>
            </value>
        </inputAssignments>
        <object>PM_Performance_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Based on the employee&apos;s job grade, pull a list of relevant competencies in order to create performance plan competency entries.  Grade__c is on employee&apos;s contact record.</description>
        <name>Get_Competencies</name>
        <label>Get Competencies</label>
        <locationX>729</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopToAssignEachToPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUsersContactRecord.Grade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PM_Competency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMostRecentPerformancePlan</name>
        <label>Get Most Recent Performance Plan</label>
        <locationX>165</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decNoExistingPerformancePlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUsersContactRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PM_Performance_Plan__c</object>
        <sortField>Year__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPMPlanDraftRecordTypeID</name>
        <label>Get PM Plan Draft Record Type ID</label>
        <locationX>453</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createPerformancePlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DraftRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsersContactRecord</name>
        <label>Get User&apos;s Contact Record</label>
        <locationX>165</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMostRecentPerformancePlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen01</name>
        <label>No Plan Screen</label>
        <locationX>321</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getPMPlanDraftRecordTypeID</targetReference>
        </connector>
        <fields>
            <name>title01</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;My Performance Management Plan&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hi {!getUsersContactRecord.FirstName}, you don&apos;t seem to have a performance management plan yet.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;To create and view a draft plan, click the &quot;Next&quot; button.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>39</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>getUsersContactRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
