Telework_Agreement_by_Employee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_Telework_Agreement_for_Approval</name>
        <label>Submit Telework Agreement for Approval</label>
        <locationX>182</locationX>
        <locationY>3254</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Telework_Agreement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>TeleworkAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Get_Employee_User_Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Case_to_Telework_Agreement</name>
        <label>Add Case to Telework Agreement</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Telework_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alternate_Work_Site_Assignment</name>
        <label>Alternate Work Site Assignment</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Alternate_Work_Site_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_do_you_intend_to_telework</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Alternative_Work_Site_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_of_Alternate_Work_Site</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen05</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Existing_Telework_Agreement_Values</name>
        <label>Assign Default Existing Telework Agreement Values</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Supervisor_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_New_Telework_Agreement_Values</name>
        <label>Assign Default New Telework Agreement Values</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Supervisor_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Telework_Day_Monday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Telework_Day_Tuesday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Telework_Day_Wednesday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Telework_Day_Thursday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Telework_Day_Friday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Reasonable_Accommodation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Equipment_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Alternative_Work_Site_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddressToText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Employee_Contact_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Reasonable_Accomodation_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Initial_Telework_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Digital_Signature_Fields</name>
        <label>Assign Digital Signature Fields</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Employee_Digital_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRequesterDigitalSignature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Employee_Digitally_Signed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Employee_Digitally_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRequesterDigitallySignedRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completed_Review_Assignment</name>
        <label>Completed Review Assignment</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Telework_Request_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initialize Variable Settings</description>
        <name>Initialize_Variable_Settings</name>
        <label>Initialize Variable Settings</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>PathIndicatorOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Before You Begin,Self Certification,Telework Plan,Review,Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Case_Assignment</name>
        <label>New Case Assignment</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Telework_Request_Case_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Telework Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Supervisor_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Telework_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeleworkAgreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Telework Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Telework Agreement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Service Catalog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Special_Requirements_Assignment</name>
        <label>Special Requirements Assignment</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Reasonable_Accommodation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_telework_request_related_to_a_Reasonable_Accommodation_request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Reasonable_Accomodation_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_enter_Reasonable_Accommodation_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen06</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Telework_Type_Assignment</name>
        <label>Telework Type Assignment</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>TeleworkAgreement.Type_of_Telework__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_type_of_Telework_are_you_Requesting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen04</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Employee_already_have_a_Telework_Agreement</name>
        <label>Does Employee already have a Telework Agreement?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Existing_Telework_Agreement_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Telework Agreement Exists</defaultConnectorLabel>
        <rules>
            <name>No_Telework_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeleworkAgreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_New_Telework_Agreement_Values</targetReference>
            </connector>
            <label>No Telework Agreement</label>
        </rules>
    </decisions>
    <description>Telework Agreement (by Employee)
1/14/21:  Only change is the flow label was renamed</description>
    <dynamicChoiceSets>
        <name>AlternateWorkSiteType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Alternate_Work_Site_Type__c</picklistField>
        <picklistObject>Telework_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeleworkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Telework__c</picklistField>
        <picklistObject>Telework_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>blank</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;</expression>
    </formulas>
    <formulas>
        <name>ContactAddressToText</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingStreet})), {!Get_Employee_Contact_Record.MailingStreet} + &quot;, &quot;, NULL) + IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingCity})), {!Get_Employee_Contact_Record.MailingCity} + &quot;, &quot;, NULL) +
IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingState})),       {!Get_Employee_Contact_Record.MailingState},                    NULL) + IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingPostalCode})),  &quot;, &quot; + {!Get_Employee_Contact_Record.MailingPostalCode} + &quot;, &quot;, NULL) + IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingCountry})),     {!Get_Employee_Contact_Record.MailingCountry},                  NULL)</expression>
    </formulas>
    <formulas>
        <name>NextYearsDate</name>
        <dataType>Date</dataType>
        <expression>{!TodaysDate}+365</expression>
    </formulas>
    <formulas>
        <description>Todays Date</description>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Employee Telework Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Telework - Agreement (by Employee)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>2774</locationY>
        <connector>
            <targetReference>Add_Case_to_Telework_Agreement</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Initial_Telework_Agreement</name>
        <label>Create Initial Telework Agreement</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
        <inputReference>TeleworkAgreement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee_Contact_Record</name>
        <label>Get Employee Contact Record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Supervisor_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_User_Record</name>
        <label>Get Employee User Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_In_Progress_Telework_Agreement</name>
        <label>Get In Progress Telework Agreement</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Employee_already_have_a_Telework_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_Contact_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Telework_Agreement__c</object>
        <outputReference>TeleworkAgreement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Supervisor_Comment__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Telework_Day_Monday__c</queriedFields>
        <queriedFields>Telework_Day_Tuesday__c</queriedFields>
        <queriedFields>Telework_Day_Wednesday__c</queriedFields>
        <queriedFields>Telework_Day_Thursday__c</queriedFields>
        <queriedFields>Telework_Day_Friday__c</queriedFields>
        <queriedFields>Alternate_Work_Site_Type__c</queriedFields>
        <queriedFields>Equipment_Request__c</queriedFields>
        <queriedFields>Type_of_Telework__c</queriedFields>
        <queriedFields>Alternative_Work_Site_Address__c</queriedFields>
        <queriedFields>Reasonable_Accomodation_Number__c</queriedFields>
        <queriedFields>Reasonable_Accommodation__c</queriedFields>
        <queriedFields>Employee__c</queriedFields>
        <queriedFields>Supervisor__c</queriedFields>
        <queriedFields>Approved_Date__c</queriedFields>
        <queriedFields>Employee_Contact_Record__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Supervisor_Record</name>
        <label>Get Supervisor Record</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_In_Progress_Telework_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Manager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Telework_Request_Case_Record_Type</name>
        <label>Get Telework Agreement Case Record Type Id</label>
        <locationX>182</locationX>
        <locationY>2534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Telework_Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Telework_Agreement</name>
        <label>Update Telework Agreement</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>screen07</targetReference>
        </connector>
        <inputReference>TeleworkAgreement</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen that will show the &quot;Before You Begin&quot; content.</description>
        <name>screen01</name>
        <label>Before you Begin</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen02</targetReference>
        </connector>
        <fields>
            <name>screen01Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Telework Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Before you begin&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen01ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Before You Begin</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen01Body</name>
            <fieldText>&lt;p&gt;{!BeforeyouBeginTextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen01ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen01ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen that will show the Self Certification Content</description>
        <name>screen02</name>
        <label>Self Certification</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Digital_Signature_Fields</targetReference>
        </connector>
        <fields>
            <name>screen02Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Telework Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Self Certification&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen02ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Self Certification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen02Body</name>
            <fieldText>&lt;p&gt;{!TeleworkSelfCertificationTextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputRequesterDigitallySignedRequest</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I agree with these statements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputRequesterDigitalSignature</name>
            <dataType>String</dataType>
            <fieldText>Digitally Sign by Typing Your Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen02ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen02ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen03</name>
        <label>Telework Type</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Telework_Type_Assignment</targetReference>
        </connector>
        <fields>
            <name>screen03Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Telework Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Telework Type&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen03ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Telework Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen03ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_type_of_Telework_are_you_Requesting</name>
            <choiceReferences>TeleworkType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of Telework are you Requesting?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen03ToggleText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;What day(s) of the week are you requesting to core telework:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_Telework_are_you_Requesting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Core Telework</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TeleworkDayMonday</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Monday</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TeleworkAgreement.Telework_Day_Monday__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TeleworkAgreement.Telework_Day_Monday__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_Telework_are_you_Requesting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Core Telework</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TeleworkDayTuesday</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TeleworkAgreement.Telework_Day_Tuesday__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tuesday</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TeleworkAgreement.Telework_Day_Tuesday__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_Telework_are_you_Requesting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Core Telework</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TeleworkDayWednesday</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TeleworkAgreement.Telework_Day_Wednesday__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Wednesday</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TeleworkAgreement.Telework_Day_Wednesday__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_Telework_are_you_Requesting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Core Telework</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TeleworkDayThursday</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Thursday</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TeleworkAgreement.Telework_Day_Thursday__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TeleworkAgreement.Telework_Day_Thursday__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_Telework_are_you_Requesting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Core Telework</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TeleworkDayFriday</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Friday</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>TeleworkAgreement.Telework_Day_Friday__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TeleworkAgreement.Telework_Day_Friday__c</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_Telework_are_you_Requesting</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Core Telework</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen03ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen04</name>
        <label>Alternate Work Site</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Alternate_Work_Site_Assignment</targetReference>
        </connector>
        <fields>
            <name>screen04Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Telework Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Alternate Work Site&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen04ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Telework Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen04ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Where_do_you_intend_to_telework</name>
            <choiceReferences>AlternateWorkSiteType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where do you intend to telework?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address_of_Alternate_Work_Site</name>
            <defaultValue>
                <stringValue>{!TeleworkAgreement.Alternative_Work_Site_Address__c}

</stringValue>
            </defaultValue>
            <fieldText>Address of Alternate Work Site</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen04ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen05</name>
        <label>Special Requirements</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Special_Requirements_Assignment</targetReference>
        </connector>
        <fields>
            <name>screen05Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Telework Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Special Requests&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen04ProgressIndicator_0</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Telework Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen05ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Is_this_telework_request_related_to_a_Reasonable_Accommodation_request</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is this telework request related to a Reasonable Accommodation request?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_enter_Reasonable_Accommodation_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TeleworkAgreement.Reasonable_Accomodation_Number__c</elementReference>
            </defaultValue>
            <fieldText>Please enter Reasonable Accommodation Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_telework_request_related_to_a_Reasonable_Accommodation_request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_additional_equipment_and_software_required</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is additional equipment and software required?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen05ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen that will show the &quot;Before You Begin&quot; content.</description>
        <name>screen06</name>
        <label>Review</label>
        <locationX>182</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Completed_Review_Assignment</targetReference>
        </connector>
        <fields>
            <name>screen06Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Telework Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Review&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen06ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Review</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen06Body</name>
            <fieldText>&lt;p&gt;{!TeleworkRequestReview}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen06ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen06ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To submit, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen that will show the &quot;Before You Begin&quot; content.</description>
        <name>screen07</name>
        <label>Review</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_Telework_Agreement_for_Approval</targetReference>
        </connector>
        <fields>
            <name>screen07Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Telework Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Submitted&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen07ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Submitted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen07Body</name>
            <fieldText>&lt;p&gt;Your Telework Agreement request has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen07ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen07ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;Click the &quot;Finish&quot; button to close&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Variable_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BeforeyouBeginTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This form is used to initiate/request a Telework Agreement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Each teleworker and his/her manager must enter into a written telework agreement for every type of telework, whether the employee teleworks regularly or not.&amp;nbsp;For example, a written telework agreement is required for an employee who teleworks regularly once a week and for an employee who may only telework once a year.&amp;nbsp;The parameters of this agreement are most often laid out by the agency policy and/or collective bargaining agreement but should include the following key elements:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Location of the telework office (e.g., home or another alternative workplace)&lt;/li&gt;&lt;li&gt;Equipment inventory (e.g., what the employee is supplying, what the agency is providing, and who is responsible to maintain it)&lt;/li&gt;&lt;li&gt;A general list of&amp;nbsp;job tasks that will be performed while teleworking&lt;/li&gt;&lt;li&gt;The telework schedule&lt;/li&gt;&lt;li&gt;Telework contact information (e.g., what phone number to use on the telework day)&lt;/li&gt;&lt;li&gt;A&amp;nbsp;&lt;a href=&quot;https://www.telework.gov/federal-community/telework-employees/safety-checklist/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(66, 139, 202);&quot;&gt;safety checklist&lt;/a&gt;, self-certifying that the home office meets certain standards&lt;/li&gt;&lt;li&gt;Expectations for emergency telework (e.g. whether the employee is expected to work during agency closures or other Continuity of Operations (COOP) related emergencies or situations that may result in a disruption to normal office operations). With regard to COOP, note that Emergency Relocation Group (ERG) members must be prepared to telework at any time.&amp;nbsp;For more information, visit&amp;nbsp;&lt;a href=&quot;https://www.telework.gov/guidance-legislation/telework-guidance/emergency-telework/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(66, 139, 202);&quot;&gt;Emergency Telework Guidance&lt;/a&gt;.&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TeleworkRequestReview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;General&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Employee Name&lt;/b&gt;: {!Get_Employee_User_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Supervisor&lt;/b&gt;: {!Get_Supervisor_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Self Certification&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Status&lt;/b&gt;: Complete&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Telework Plan&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Telework Request Type&lt;/b&gt;: {!TeleworkAgreement.Type_of_Telework__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Alternate Work Site&lt;/b&gt;: {!TeleworkAgreement.Alternate_Work_Site_Type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Reasonable Accommodations&lt;/u&gt;&lt;/p&gt;&lt;p&gt;N/A&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Equipment Request&lt;/u&gt;&lt;/p&gt;&lt;p&gt;None&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TeleworkSelfCertificationTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;As a Government of the Future Teleworker, I certify that I have reviewed and agree to comply with all of the terms and conditions listed in the Telework Policy, Telework Guidelines, this Telework Agreement and all other terms and conditions of employment. This includes all provisions within Government of the Future Human Resources Policy #xxx: Standards of Conduct and Ethics in Government. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;I agree to spend the time approved for telework performing the assigned duties and responsibilities of my position.&lt;/li&gt;&lt;li&gt;I agree to maintain contact with my work unit, as appropriate, to successfully perform my assigned duties and responsibilities.&lt;/li&gt;&lt;li&gt;I agree to contact my manager/supervisor to request prior approval for leave.&lt;/li&gt;&lt;li&gt;I agree to maintain a safe telework environment that is conducive to productivity.&lt;/li&gt;&lt;li&gt;Arrangements have been made for dependent care.&lt;/li&gt;&lt;li&gt;Non-business-related activity will be kept to a minimum.&lt;/li&gt;&lt;li&gt;I agree to immediately report to my manager/supervisor, IT, and the Agency Telework Coordinator any security issue that arise at my telework site.&lt;/li&gt;&lt;li&gt;I understand that the Government of the Future is not liable for any damages to my personal or real property, while I am performing official duties at my telework site.&lt;/li&gt;&lt;li&gt;I agree to immediately report to my manager/supervisor any work-related injuries that occur, while teleworking in my designated workspace.&lt;/li&gt;&lt;li&gt;I understand that the sole purpose of this agreement is to regulate telework and that it does not constitute a contract of employment.&lt;/li&gt;&lt;li&gt;I understand that telework is voluntary and is not an employee right.&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>ApprovalRequestRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>These are the path indicator options that will be referenced on every screen.</description>
        <name>PathIndicatorOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeleworkAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Telework_Agreement__c</objectType>
    </variables>
</Flow>
