src/flows/ApplicantConvertToNewHireFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>EmploymentStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New-Hire</stringValue>
        </value>
    </constants>
    <constants>
        <name>UsernameDomain</name>
        <dataType>String</dataType>
        <value>
            <stringValue>@hrdemo.demo</stringValue>
        </value>
    </constants>
    <decisions>
        <name>decUserExist</name>
        <label>User Exist</label>
        <locationX>704</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>getStandardProfileId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User</defaultConnectorLabel>
        <rules>
            <name>outUserFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateUser</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <description>1/15/21:  Renamed flow label; now updates User record&apos;s Employment_Status__c, Employee_Contact_Id__c, and Title fields.
Oct 2020:  Updated to pull more static data from Demo Setup record rather than stored as constants in this flow.
Previous:  Updated to deprecate Contact.Grade__c field (swapped out for the new Grade_or_Rate__c field)
Previous:  Updating for error/bug caused by new required fields on User record and DML operation errors
Previous:  Added support for Suitability CompleteHas to be checked
Previous:  Updated Employee Status to set to &quot;New Hire&quot;
Previous:  Enable (unfreeze) or Create User Record for Applicant - set new fields for Contact - Removed Unfreezing Account</description>
    <formulas>
        <name>userAlias</name>
        <dataType>String</dataType>
        <expression>{!getContact.FirstName} &amp; TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>userLanguageLocaleKey</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <formulas>
        <name>userLocaleSidKey</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LocaleSidKey})</expression>
    </formulas>
    <formulas>
        <name>userNameFormula</name>
        <dataType>String</dataType>
        <expression>{!getContact.FirstName} &amp; {!getContact.LastName} &amp; {!UsernameDomain}</expression>
    </formulas>
    <formulas>
        <name>userTimeZoneSidKey</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.TimeZoneSidKey})</expression>
    </formulas>
    <interviewLabel>Applicant - Convert to New Hire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Applicant - Convert to New Hire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewUserRecord</name>
        <label>Create New User Record</label>
        <locationX>1076</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>updateEmployeeContact01_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>userAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>userAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>getContact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Contact_Id__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>EmploymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>getContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>userLanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>getContact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>userLocaleSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>getStandardProfileId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>userTimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>New Hire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>userNameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContact</name>
        <label>Get Contact</label>
        <locationX>303</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmployeeContactRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDemoSetup</name>
        <label>Get Demo Setup</label>
        <locationX>176</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Demo_Config__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmployeeContactRecordTypeId</name>
        <label>Get Employee Contact Record Type Id</label>
        <locationX>438</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStandardProfileId</name>
        <label>Get Standard Profile Id</label>
        <locationX>938</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createNewUserRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR Standard User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>Look for User</label>
        <locationX>573</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decUserExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateEmployeeContact01</name>
        <label>Update Employee Contact</label>
        <locationX>1072</locationX>
        <locationY>124</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>EmploymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_on_Duty__c</field>
            <value>
                <elementReference>getDemoSetup.Job_Opening__r.Desired_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getEmployeeContactRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>getDemoSetup.Job_Opening__r.Hiring_Manager__r.Employee_Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>getDemoSetup.Job_Opening__r.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Record__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEmployeeContact01_0</name>
        <label>Update Employee Contact</label>
        <locationX>1212</locationX>
        <locationY>388</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>EmploymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entry_on_Duty__c</field>
            <value>
                <elementReference>getDemoSetup.Job_Opening__r.Desired_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getEmployeeContactRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>getDemoSetup.Job_Opening__r.Hiring_Manager__r.Employee_Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suitability_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>getDemoSetup.Job_Opening__r.Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Record__c</field>
            <value>
                <elementReference>createNewUserRecord</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update fields on User record:  Employee_Contact_Id and Employment_Status__c</description>
        <name>updateUser</name>
        <label>Update User</label>
        <locationX>935</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>updateEmployeeContact01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employee_Contact_Id__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>EmploymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>New Hire</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getDemoSetup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>countUsersFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
