src/flows/Create_Performance_Management_Plan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>PM_Draft_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Competency_for_Job_Grade</name>
        <label>Is Competency for Job Grade?</label>
        <locationX>333</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Check_Job_Grade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Competency NOT for Grade</defaultConnectorLabel>
        <rules>
            <name>Competency_for_Grade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>competency.Grade_or_Level__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>employeeGradeOrLevel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Competency_to_Plan</targetReference>
            </connector>
            <label>Competency for Grade</label>
        </rules>
    </decisions>
    <description>1/14/21:  Cleanup/debugging; flow label was renamed</description>
    <formulas>
        <name>currentYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>Create Performance Management Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Performance - Create a Plan</label>
    <loops>
        <name>Check_Job_Grade</name>
        <label>Check Job Grade</label>
        <locationX>622</locationX>
        <locationY>356</locationY>
        <assignNextValueToReference>competency</assignNextValueToReference>
        <collectionReference>competencyList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Competency_for_Job_Grade</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Competency_to_Plan</name>
        <label>Assign Competency to Plan</label>
        <locationX>495</locationX>
        <locationY>614</locationY>
        <assignRecordIdToReference>employeeCompetencyId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Job_Grade</targetReference>
        </connector>
        <inputAssignments>
            <field>Competency__c</field>
            <value>
                <elementReference>competency.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>competency.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Performance_Plan__c</field>
            <value>
                <elementReference>PMPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>competency.Name</elementReference>
            </value>
        </inputAssignments>
        <object>PM_Employee_Competency__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Performance_Plan</name>
        <label>Create Performance Plan</label>
        <locationX>313</locationX>
        <locationY>195</locationY>
        <assignRecordIdToReference>PMPlanId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Employee_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PMDraftRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>currentYear</elementReference>
            </value>
        </inputAssignments>
        <object>PM_Performance_Plan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Competencies_for_Job_Grade</name>
        <label>Get All Competencies for Job Grade</label>
        <locationX>621</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Job_Grade</targetReference>
        </connector>
        <object>PM_Competency__c</object>
        <outputReference>competencyList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Grade_or_Level__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Info</name>
        <label>Get Employee Info</label>
        <locationX>467</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Competencies_for_Job_Grade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>employeeGradeOrLevel</assignToReference>
            <field>Grade_or_Level__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PM_Plan_Draft_Record_Type_ID</name>
        <label>Get PM Plan Draft Record Type ID</label>
        <locationX>176</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Performance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PM_Draft_RecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PMDraftRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PM_Plan_Draft_Record_Type_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>competency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PM_Competency__c</objectType>
    </variables>
    <variables>
        <name>CompetencyItemsToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PM_Competency__c</objectType>
    </variables>
    <variables>
        <name>competencyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PM_Competency__c</objectType>
    </variables>
    <variables>
        <description>Input variable - this is value of the contact Id sent into the flow</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>employeeCompetencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the grade value from Contact Record</description>
        <name>employeeGradeOrLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PMDraftRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PMPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
