src/flows/EmployeeEnrollInPositionCoursesFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignCountPositionCourses</name>
        <label>Count Position Courses</label>
        <locationX>466</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>varCountPositionCourses</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPositionCourses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decPositionCoursesToAssign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decPositionCoursesToAssign</name>
        <label>Position Courses to Assign?</label>
        <locationX>382</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outPositionCoursesToAssignYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountPositionCourses</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopPositionCourse</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Enrolls an employee contact in any courses which are standard for their new position.  Used from &quot;Employee Processes&quot; in Process Builder.</description>
    <formulas>
        <name>formulaDateSecondDay</name>
        <dataType>Date</dataType>
        <expression>{!getContact.Position_Date__c} +1</expression>
    </formulas>
    <interviewLabel>Employee - Enroll in Position Courses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee - Enroll in Position Courses</label>
    <loops>
        <name>loopPositionCourse</name>
        <label>For Each Position Course</label>
        <locationX>559</locationX>
        <locationY>440</locationY>
        <collectionReference>getPositionCourses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createCourseSession</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCourseSession</name>
        <label>Create a Course Session</label>
        <locationX>750</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>flowEnrollEmployee</targetReference>
        </connector>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>loopPositionCourse.Course__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>formulaDateSecondDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>Headquarters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>formulaDateSecondDay</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContact</name>
        <label>Get Contact</label>
        <locationX>138</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPositionCourses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPositionCourses</name>
        <label>Get Position Courses</label>
        <locationX>305</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCountPositionCourses</targetReference>
        </connector>
        <faultConnector>
            <targetReference>decPositionCoursesToAssign</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Position_Current__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Position_Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>12</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flowEnrollEmployee</name>
        <label>Enroll Employee</label>
        <locationX>750</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>loopPositionCourse</targetReference>
        </connector>
        <flowName>LearningEnrollEmployeeInACourseSessionFlow</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sessionId</name>
            <value>
                <elementReference>createCourseSession</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Input variable - this is value of the contact Id sent into the flow</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountPositionCourses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
