src/flows/LearningEnrollEmployeeInACourseSessionFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actionSendEmail</name>
        <label>Send Email</label>
        <locationX>790</locationX>
        <locationY>219</locationY>
        <actionName>Course_Enrollment__c.Course_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>createCourseEnrollment</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <description>Enrolls an employee contact in a course, given a pre-identified Course Session, assigns the employee an event, and sends them an email.  Used as a sub-flow from New Hire Onboarding Wizard.</description>
    <formulas>
        <name>formulaEventSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Course: &quot; &amp; {!getCourseSession.Course__r.Title__c}</expression>
    </formulas>
    <interviewLabel>Learning - Enroll Employee in a Course Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Learning - Enroll Employee in a Course Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCourseEnrollment</name>
        <label>Create Course Enrollment</label>
        <locationX>485</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>createEventForEmployeeContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>getCourseSession.Course__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createEventForEmployeeContact</name>
        <label>Create Event for Employee Contact</label>
        <locationX>637</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>actionSendEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>actionSendEmail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>You are enrolled in this course.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>getCourseSession.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>getCourseSession.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formulaEventSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCourseSession</name>
        <label>Get Course Session</label>
        <locationX>176</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmployeeContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmployeeContact</name>
        <label>Get Employee Contact</label>
        <locationX>332</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCourseEnrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCourseSession</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Input variable:  Employee Contact record Id</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output variable:  Course Enrollment record Id created in this flow</description>
        <name>enrollmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Input variable:  Course Session record Id</description>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
