src/flows/Personnel_Action_Realignment_by_Manager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_the_Case_Record_Page</name>
        <label>Redirect to the Case Record Page</label>
        <locationX>1656</locationX>
        <locationY>846</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>createCase</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Initiate Approval Process for the Personnel Action record created.</description>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>1296</locationX>
        <locationY>237</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>createPAChangeContactFirstName</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>ApprovalProcessAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>createPersonnelAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>getManagerContact.User_Record__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignHROnlyApprovalProcess</name>
        <label>Assign HR Only Approval Process</label>
        <locationX>1134</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>ApprovalProcessAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personnel_Action_Requests_HR_Only</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignManagerHRApprovalProcess</name>
        <label>Assign Manager &amp; HR Approval Process</label>
        <locationX>1141</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ApprovalProcessAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personnel_Action_Approval_Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>In this assignment, set NatureOfAction, PathIndicatorOptions, and other variables to the values you want to use in this personnel action flow.</description>
        <name>assignSetVariablesHere</name>
        <label>Set Variables Here</label>
        <locationX>176</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>NatureOfAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>790 - Realignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathIndicatorOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Before You Begin,Select Employee,Enter Your Request Details,Upload Documentation,Sign,SF-52 Case Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NatureOfActionHumanReadable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Realignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalProcessAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personnel_Action_Approval_Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceReasonForChange_Other</name>
        <choiceText>All other reasons</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceReasonForChange_Position_Change_NTE</name>
        <choiceText>Serving on a Position Change NTE (date)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Position Change (NTE)</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceReasonForChange_PromoNTE</name>
        <choiceText>Serving on a Promotion NTE (date)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promotion NTE</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decisionDidRequesterAgree</name>
        <label>Did Requester Agree?</label>
        <locationX>958</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>screen04</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO / Did Not Agree</defaultConnectorLabel>
        <rules>
            <name>decRequesterAgreedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRequesterDigitallySignedRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSignPersonnelAction</targetReference>
            </connector>
            <label>YES / Agreed</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionDocumentationRequired</name>
        <label>Is Documentation Required?</label>
        <locationX>736</locationX>
        <locationY>88</locationY>
        <defaultConnector>
            <targetReference>screen04</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>outcomeDocumentationRequiredYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNatureOfAction.Request_Documentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen03</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>Pick which approval process to use based on selection on the related Nature of Action record.</description>
        <name>decUseWhichApprovalProcess</name>
        <label>Use Which Approval Process?</label>
        <locationX>958</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>assignManagerHRApprovalProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decApprovalManagerAndHR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNatureOfAction.Approval_Process_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Manager and HR Approvals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignManagerHRApprovalProcess</targetReference>
            </connector>
            <label>Manager &amp; HR</label>
        </rules>
        <rules>
            <name>decApprovalHROnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNatureOfAction.Approval_Process_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires HR Approval Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignHROnlyApprovalProcess</targetReference>
            </connector>
            <label>HR Only</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Pick_Employee_Child_Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReportsToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getManagerContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FormulaCaseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Employee is requesting a Name Change from &quot; &amp; 
{!getManagerContact.FirstName} &amp; 
&quot; &quot; &amp; 
{!getManagerContact.LastName} &amp; 
&quot; to &quot; &amp; 
{!inputNameChange.firstName} &amp; 
&quot; &quot; &amp; 
{!inputNameChange.lastName} &amp; 
&quot; based on &quot; &amp; 
{!inputNameChangeEventReason} &amp; 
&quot; (&quot; &amp;
{!inputIfOtherReasonPleaseExplain} &amp; 
&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>FormulaCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Name Change Request for &quot; &amp; {!getManagerContact.FirstName} &amp; &quot; &quot; &amp; {!getManagerContact.LastName}</expression>
    </formulas>
    <formulas>
        <name>NowDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Personnel Action - Realignment (by Manager) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personnel Action - Realignment (by Manager)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCase</name>
        <label>Create Case</label>
        <locationX>519</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>getNewCase</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getManagerContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FormulaCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Employee Service Catalog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getHRQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getSF52CaseRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>getUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FormulaCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createPAChangeContactFirstName</name>
        <label>Create PA Change (Contact First Name)</label>
        <locationX>1484</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>createPAChangeContactLastName</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Type__c</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Change the Contact FirstName Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personnel_Action__c</field>
            <value>
                <elementReference>createPersonnelAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Field__c</field>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Object__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_Text__c</field>
            <value>
                <elementReference>inputNameChange.firstName</elementReference>
            </value>
        </inputAssignments>
        <object>Personnel_Action_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createPAChangeContactLastName</name>
        <label>Create PA Change (Contact Last Name)</label>
        <locationX>1484</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>createPAChangeUserFirstName</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Type__c</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Change the Contact LastName Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personnel_Action__c</field>
            <value>
                <elementReference>createPersonnelAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Field__c</field>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Object__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_Text__c</field>
            <value>
                <elementReference>inputNameChange.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Personnel_Action_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createPAChangeUserFirstName</name>
        <label>Create PA Change (User First Name)</label>
        <locationX>1484</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>createPAChangeUserLastName</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Type__c</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Change the User FirstName Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personnel_Action__c</field>
            <value>
                <elementReference>createPersonnelAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Field__c</field>
            <value>
                <stringValue>FirstName</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Object__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_Text__c</field>
            <value>
                <elementReference>inputNameChange.firstName</elementReference>
            </value>
        </inputAssignments>
        <object>Personnel_Action_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createPAChangeUserLastName</name>
        <label>Create PA Change (User Last Name)</label>
        <locationX>1485</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>screen99</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Type__c</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Change the User LastName Field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personnel_Action__c</field>
            <value>
                <elementReference>createPersonnelAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Field__c</field>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Object__c</field>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_Text__c</field>
            <value>
                <elementReference>inputNameChange.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Personnel_Action_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createPersonnelAction</name>
        <label>Create Personnel Action</label>
        <locationX>520</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>getNewPersonnelAction</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval01_Manager__c</field>
            <value>
                <elementReference>getManagerContact.ReportsTo.User_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval02_HR__c</field>
            <value>
                <elementReference>getManagerContact.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date_Proposed__c</field>
            <value>
                <elementReference>inputProposedEffectiveDateForChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>getManagerContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Explanation__c</field>
            <value>
                <elementReference>FormulaCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Authority__c</field>
            <value>
                <elementReference>getNatureOfAction.Legal_Authority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nature_of_Action__c</field>
            <value>
                <elementReference>getNatureOfAction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks_by_Requester__c</field>
            <value>
                <elementReference>inputRemarksByRequester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SF52_Case__c</field>
            <value>
                <elementReference>createCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Personnel_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee_Contact</name>
        <label>Get Employee Contact</label>
        <locationX>517</locationX>
        <locationY>964</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee_to_Realign</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Id for the HR Queue to assign the created case</description>
        <name>getHRQueue</name>
        <label>Get HR Queue</label>
        <locationX>519</locationX>
        <locationY>677</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR_Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getManagerContact</name>
        <label>Get Manager Contact</label>
        <locationX>337</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSF52CaseRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNatureOfAction</name>
        <label>Get Nature of Action for Name Change</label>
        <locationX>336</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NatureOfAction</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Nature_of_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNewCase</name>
        <label>Get New Case</label>
        <locationX>519</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createPersonnelAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNewPersonnelAction</name>
        <label>Get New Personnel Action</label>
        <locationX>520</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionDocumentationRequired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createPersonnelAction</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Personnel_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSF52CaseRecordTypeId</name>
        <label>Get SF-52 Case Record Type Id</label>
        <locationX>336</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNatureOfAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SF52_Request_for_Personnel_Action</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>Get User Details</label>
        <locationX>337</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getManagerContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the personnel action request with the requester&apos;s digital signature</description>
        <name>updateSignPersonnelAction</name>
        <label>Sign Personnel Action Request</label>
        <locationX>966</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>decUseWhichApprovalProcess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createPersonnelAction</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Requester_Digital_Signature__c</field>
            <value>
                <elementReference>inputRequesterDigitalSignature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Digitally_Signed_Date_Time__c</field>
            <value>
                <elementReference>NowDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Digitally_Signed__c</field>
            <value>
                <elementReference>inputRequesterDigitallySignedRequest</elementReference>
            </value>
        </inputAssignments>
        <object>Personnel_Action__c</object>
    </recordUpdates>
    <screens>
        <description>Screen that will show the &quot;Before You Begin&quot; content from the selected Nature of Action record.</description>
        <name>screen01</name>
        <label>Before You Begin</label>
        <locationX>336</locationX>
        <locationY>838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen02_B</targetReference>
        </connector>
        <fields>
            <name>title01</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Before You Begin&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Personnel Action: {!NatureOfActionHumanReadable}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processStep1</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Before You Begin</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getNatureOfAction.Before_You_Begin_Guidance__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text01z</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02</name>
        <label>Enter Information</label>
        <locationX>519</locationX>
        <locationY>838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getHRQueue</targetReference>
        </connector>
        <fields>
            <name>title02</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Enter Your Request Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Personnel Action: {!NatureOfActionHumanReadable}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processStep2</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Enter Your Request Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text02a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Provide the details of your personnel action request in the form below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputNameChangeEventReason</name>
            <choiceReferences>choiceReasonForChange_Position_Change_NTE</choiceReferences>
            <choiceReferences>choiceReasonForChange_PromoNTE</choiceReferences>
            <choiceReferences>choiceReasonForChange_Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceReasonForChange_Position_Change_NTE</defaultSelectedChoiceReference>
            <fieldText>Name Change Event/Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputIfOtherReasonPleaseExplain</name>
            <fieldText>If &quot;Other Reason&quot;, Please Explain</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>inputNameChangeEventReason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceReasonForChange_PromoNTE</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputDateOfChangeEvent</name>
            <dataType>Date</dataType>
            <fieldText>Date of Change Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputProposedEffectiveDateForChange</name>
            <dataType>Date</dataType>
            <fieldText>Proposed Effective Date for Change</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputNameChange</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>getManagerContact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>getManagerContact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name as Changed</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputRemarksByRequester</name>
            <fieldText>Any Additional Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>text02z</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02_B</name>
        <label>Select Employee</label>
        <locationX>336</locationX>
        <locationY>963</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Employee_Contact</targetReference>
        </connector>
        <fields>
            <name>title02_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Select the Effected Employee&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Personnel Action: {!NatureOfActionHumanReadable}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processStep2b</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Select Employee</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text02a_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select the effected employee from the list of your direct reports below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employee_to_Realign</name>
            <choiceReferences>Pick_Employee_Child_Contacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Employee to Realign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text02z_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen03</name>
        <label>Upload Documentation</label>
        <locationX>678</locationX>
        <locationY>843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen04</targetReference>
        </connector>
        <fields>
            <name>title03</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Upload Documentation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Personnel Action: {!NatureOfActionHumanReadable}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processStep3</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Upload Documentation</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text03a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please provide the following supporting documentation for your request:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!getNatureOfAction.Supporting_Documentation_Type__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fUploadDocumentation</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Your Supporting Documentation:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getNewPersonnelAction.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf,.jpg,.gif,.png,.csv,.xls,.xlsx</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFilenames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadedContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text03z</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen04</name>
        <label>Sign</label>
        <locationX>824</locationX>
        <locationY>843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionDidRequesterAgree</targetReference>
        </connector>
        <fields>
            <name>title04</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Certification&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Personnel Action: {!NatureOfActionHumanReadable}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processStep4</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Sign</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text04a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Before you can submit your request, you must agree with the following statements:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;I certify that the information I submit in this request is accurate and provided in good faith.&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;This request is in compliance with applicable policies as I understand them.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputRequesterDigitallySignedRequest</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I agree with these statements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputRequesterDigitalSignature</name>
            <dataType>String</dataType>
            <fieldText>Digitally Sign by Typing Your Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text04z</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen99</name>
        <label>Confirmation Page</label>
        <locationX>1486</locationX>
        <locationY>846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirect_to_the_Case_Record_Page</targetReference>
        </connector>
        <fields>
            <name>title99</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;SF-52 Case Submitted&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Personnel Action: {!NatureOfActionHumanReadable}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>processStep99</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>SF-52 Case Submitted</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text01a_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A case has been created, submitted, and routed for appropriate approvals:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Case Number:  &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!getNewCase.CaseNumber}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Personnel Action Number:  &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!getNewPersonnelAction.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Nature of Action:  &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!NatureOfActionHumanReadable}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Case Status:  &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!getNewCase.Status}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text01z_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;No further action is required of you at this time.  To review your case, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>assignSetVariablesHere</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>API Name for the approval process to initiate for the personnel action</description>
        <name>ApprovalProcessAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NatureOfAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Different/narrative-friendly version of the NatureOfAction value</description>
        <name>NatureOfActionHumanReadable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>These are the path indicator options that will be referenced on every screen.</description>
        <name>PathIndicatorOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFilenames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
