src/flows/Recruit_Create_a_Recruit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignIncrementTotalQuestionScore</name>
        <label>Increment Total Question Score</label>
        <locationX>896</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varTotalQuestionScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewTotalQuestionScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuestionCount</name>
        <label>Assign Question Count</label>
        <locationX>689</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>varQuestionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getDemoSetupRecruitingQuestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThruQuestions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decDemoQuestionsExist</name>
        <label>Demo Questions Exist?</label>
        <locationX>681</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>assignQuestionCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>outQuestionsNOTFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDemoSetupRecruitingQuestions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>decRecordFound</name>
        <label>Record Found?</label>
        <locationX>168</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>createRecruit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>outNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveDemoSetupRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Creates a recruit, rather than using the Recruit Lead Form</description>
    <formulas>
        <name>formulaNewTotalQuestionScore</name>
        <dataType>Number</dataType>
        <expression>{!varTotalQuestionScore} + {!loopThruQuestions.Default_Answer_Score__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Recruit - Create a Recruit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruit - Create a Recruit</label>
    <loops>
        <name>loopThruQuestions</name>
        <label>Loop Thru Questions</label>
        <locationX>688</locationX>
        <locationY>231</locationY>
        <collectionReference>getDemoSetupRecruitingQuestions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createRecruitQuestion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRecruitQuestionScore</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCampaignMember</name>
        <label>Create Campaign Member</label>
        <locationX>333</locationX>
        <locationY>607</locationY>
        <connector>
            <targetReference>getDemoSetupRecruitingQuestions</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>createRecruit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createRecruit</name>
        <label>Create Recruit</label>
        <locationX>176</locationX>
        <locationY>607</locationY>
        <connector>
            <targetReference>createCampaignMember</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_of_Interest__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Area_of_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Recruit_Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Level_New__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Education_Level_New__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Recruit_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Ethnicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Recruit_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Opening__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Job_Opening__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Recruit_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Law_Enforcement_Experience__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Law_Enforcement_Experience__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Recruit_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Recruit_MobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Telephone_Provider__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Mobile_Telephone_Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Recruiter_Owner_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Recruit_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Military_Service__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Prior_Military_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Racial_Category__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Racial_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Branch__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Service_Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>US_Citizen__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.US_Citizen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran__c</field>
            <value>
                <elementReference>getActiveDemoSetupRecord.Veteran__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createRecruitQuestion</name>
        <label>Create Recruit Question</label>
        <locationX>896</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>assignIncrementTotalQuestionScore</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer_Score__c</field>
            <value>
                <elementReference>loopThruQuestions.Default_Answer_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>loopThruQuestions.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruit_Answer__c</field>
            <value>
                <elementReference>loopThruQuestions.Default_Answer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruit__c</field>
            <value>
                <elementReference>createRecruit</elementReference>
            </value>
        </inputAssignments>
        <object>Recruit_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getActiveDemoSetupRecord</name>
        <label>Get Active Demo Setup Record</label>
        <locationX>176</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decRecordFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Demo_Config__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDemoSetupRecruitingQuestions</name>
        <label>Get Demo Setup Recruiting Questions</label>
        <locationX>495</locationX>
        <locationY>607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decDemoQuestionsExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demo_Setup_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getActiveDemoSetupRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Demo_Setup_Recruit_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRecruitQuestionScore</name>
        <label>Update Recruit Question Score</label>
        <locationX>688</locationX>
        <locationY>21</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createRecruit</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Question_Count__c</field>
            <value>
                <elementReference>varQuestionCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Score__c</field>
            <value>
                <elementReference>varTotalQuestionScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getActiveDemoSetupRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalQuestionScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
