src/Contact_Update_Upon_Conversion_from_Recruit_or_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignApplicantContactValues</name>
        <label>Assign Applicant Contact Values</label>
        <locationX>1309</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>$Record.Education_Level_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Education_Level_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Recruit_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mobile_Telephone_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Mobile_Telephone_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Recruit_Salutation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Place_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Recruit_Place_of_Birth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Marital_Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignEmployeeContactValues</name>
        <label>Assign Employee Contact Values</label>
        <locationX>1308</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>$Record.Mobile_Telephone_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Mobile_Telephone_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Position_Current__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getJobOpening.Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPosition.Position_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Grade_or_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPosition.Grade_or_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Step_or_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPosition.Step_or_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Work_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPosition.Work_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Basic_Pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPosition.Basic_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Employee_Life_Insurance_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEmployeeLifeInsurancePlan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Employee_Retirement_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEmployeeRetirementPlan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Clearance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getJobOpening.Clearance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Disability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Disability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Employee_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Employee_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SSN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>123456789</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Security_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getJobOpening.Security_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Duty_Station__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Duty_Station__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDemoSetup.Marital_Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decIsNewHire</name>
        <label>Is New-Hire?</label>
        <locationX>584</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outNewHire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New-Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getJobOpening</targetReference>
            </connector>
            <label>New-Hire</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhatTypeOfContact</name>
        <label>What Type of Contact?</label>
        <locationX>307</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>OTHER</defaultConnectorLabel>
        <rules>
            <name>outEmployeeContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactRecordTypeId.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decIsNewHire</targetReference>
            </connector>
            <label>Employee Contact</label>
        </rules>
        <rules>
            <name>outApplicantContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactRecordTypeId.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApplicantContactValues</targetReference>
            </connector>
            <label>Applicant Contact</label>
        </rules>
    </decisions>
    <description>Updates contact record whenever it is being converted from recruit or applicant.</description>
    <interviewLabel>Contact - Update Upon Conversion from Recruit or Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Update Upon Conversion from Recruit or Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContactRecordTypeId</name>
        <label>Get Contact RecordTypeId</label>
        <locationX>176</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDemoSetup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDemoSetup</name>
        <label>Get Demo Setup</label>
        <locationX>176</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decWhatTypeOfContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Demo_Config__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demo_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Set a default life insurance plan - any will do; I chose to set the default where the plan Code__c field = 90.</description>
        <name>getEmployeeLifeInsurancePlan</name>
        <label>Get Employee Life Insurance Plan</label>
        <locationX>1035</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmployeeRetirementPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>90</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Life_Insurance_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Set a default retirement plan - any will do; I chose to set the default where the plan Code__c field = 1.</description>
        <name>getEmployeeRetirementPlan</name>
        <label>Get Employee Retirement Plan</label>
        <locationX>1164</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignEmployeeContactValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Retirement_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobOpening</name>
        <label>Get Job Opening</label>
        <locationX>775</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPosition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDemoSetup.Job_Opening__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Opening__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPosition</name>
        <label>Get Position</label>
        <locationX>910</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmployeeLifeInsurancePlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDemoSetup.Job_Opening__r.Position__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>getContactRecordTypeId</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
