src/Performance_Plan_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Mid_Year_Employee_Competency</name>
        <label>Set Mid Year Employee Competency</label>
        <locationX>438</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>employeeCompetency.Mid_Year_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_Rating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Competency_Rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mid_Year_Employee_Goal_Rating</name>
        <label>Set Mid Year Employee Goal Rating</label>
        <locationX>807</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>employeeGoal.Mid_Year_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_Rating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Goal_Rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Year_End_Employee_Goal</name>
        <label>Set Year End Employee Goal</label>
        <locationX>803</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>employeeGoal.Year_End_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_Rating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Goal_Rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Year_End_Review_Comp</name>
        <label>Set Year End Review Comp</label>
        <locationX>436</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>employeeCompetency.Year_End_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_Rating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Competency_Rating</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Select_One</name>
        <choiceText>-- Select One --</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Is_Med_Year_Review</name>
        <label>Is Med Year Review</label>
        <locationX>1017</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Set_Year_End_Employee_Goal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Year End Review</defaultConnectorLabel>
        <rules>
            <name>Mid_Year_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>employeeGoal.Mid_Year_Rating__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mid_Year_Employee_Goal_Rating</targetReference>
            </connector>
            <label>Mid Year Review?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Mid_Year_Review_Comp</name>
        <label>Is Mid Year Review Comp</label>
        <locationX>710</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Set_Year_End_Review_Comp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Year End Review</defaultConnectorLabel>
        <rules>
            <name>Is_Mid_Year_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>employeeCompetency.Mid_Year_Rating__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mid_Year_Employee_Competency</targetReference>
            </connector>
            <label>Is Mid Year Review</label>
        </rules>
    </decisions>
    <description>1/14/21:  Only change is the flow label was renamed</description>
    <dynamicChoiceSets>
        <name>PerformancePlanRatings</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mid_Year_Rating__c</picklistField>
        <picklistObject>PM_Employee_Goal__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Performance Plan Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Performance - Plan Review</label>
    <loops>
        <name>Loop_Through_Competencies</name>
        <label>Loop Through Competencies</label>
        <locationX>250</locationX>
        <locationY>514</locationY>
        <assignNextValueToReference>employeeCompetency</assignNextValueToReference>
        <collectionReference>employeeCompetencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Performance_Evaluation_Competency</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Review_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Goals</name>
        <label>Loop Through Goals</label>
        <locationX>671</locationX>
        <locationY>349</locationY>
        <assignNextValueToReference>employeeGoal</assignNextValueToReference>
        <collectionReference>employeeGoals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Performance_Evaluation_Goals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Employee_Competencies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Employee_Competencies</name>
        <label>Get Employee Competencies</label>
        <locationX>250</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Competencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Performance_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>planId</elementReference>
            </value>
        </filters>
        <object>PM_Employee_Competency__c</object>
        <outputReference>employeeCompetencies</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Mid_Year_Rating__c</queriedFields>
        <queriedFields>Year_End_Rating__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Goals</name>
        <label>Get Employee Goals</label>
        <locationX>357</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Goals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Performance_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>planId</elementReference>
            </value>
        </filters>
        <object>PM_Employee_Goal__c</object>
        <outputReference>employeeGoals</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Mid_Year_Rating__c</queriedFields>
        <queriedFields>Year_End_Rating__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Info</name>
        <label>Get Employee Info</label>
        <locationX>221</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Goals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>perfPlan.Employee__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>employeeInfo</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Data</name>
        <label>Get Plan Data</label>
        <locationX>97</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>planId</elementReference>
            </value>
        </filters>
        <object>PM_Performance_Plan__c</object>
        <outputReference>perfPlan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Year__c</queriedFields>
        <queriedFields>Employee__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Competency_Rating</name>
        <label>Set Competency Rating</label>
        <locationX>250</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Through_Competencies</targetReference>
        </connector>
        <inputReference>employeeCompetency</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Goal_Rating</name>
        <label>Set Goal Rating</label>
        <locationX>623</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Loop_Through_Goals</targetReference>
        </connector>
        <inputReference>employeeGoal</inputReference>
    </recordUpdates>
    <screens>
        <name>Performance_Evaluation_Competency</name>
        <label>Performance Evaluation - Competency</label>
        <locationX>718</locationX>
        <locationY>512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Mid_Year_Review_Comp</targetReference>
        </connector>
        <fields>
            <name>dtEmployeeCompName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Employee: &lt;B&gt;{!employeeInfo.FirstName} {!employeeInfo.LastName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Plan Year: {!perfPlan.Year__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtEmployeeCompSep1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtEmployeeCompTitle</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!employeeCompetency.Title__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtEmployeeCompDesc</name>
            <fieldText>{!employeeCompetency.Description__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtEmployeeCompSep2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competency_Rating</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>PerformancePlanRatings</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Competency Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Performance_Evaluation_Goals</name>
        <label>Performance Evaluation - Goals</label>
        <locationX>932</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Med_Year_Review</targetReference>
        </connector>
        <fields>
            <name>dtPlanEvalName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Employee:&lt;B&gt; &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!employeeInfo.FirstName} {!employeeInfo.LastName}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Plan Year: &lt;B&gt;{!perfPlan.Year__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtEmployeeGoalSep1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtEmployeeGoalTitle</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!employeeGoal.Title__c}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtEmployeeGoalDesc</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!employeeGoal.Description__c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtEmployeeGoalSep2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Goal_Rating</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>PerformancePlanRatings</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Select_One</defaultSelectedChoiceReference>
            <fieldText>Goal Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Complete</name>
        <label>Review Complete</label>
        <locationX>50</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtComplete</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The performance plan review for&lt;B&gt; {!employeeInfo.FirstName} {!employeeInfo.LastName} &lt;/B&gt;is complete&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>168</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Plan_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>employeeCompetencies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Employee_Competency__c</objectType>
    </variables>
    <variables>
        <name>employeeCompetency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Employee_Competency__c</objectType>
    </variables>
    <variables>
        <name>employeeGoal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Employee_Goal__c</objectType>
    </variables>
    <variables>
        <name>employeeGoals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Employee_Goal__c</objectType>
    </variables>
    <variables>
        <name>employeeInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>perfPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PM_Performance_Plan__c</objectType>
    </variables>
    <variables>
        <name>planId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a03f400000R6tCgAAJ</stringValue>
        </value>
    </variables>
</Flow>
