src/Personnel_Action_When_Status_is_Effective.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>decWhichContactField</name>
        <label>Which Contact Field?</label>
        <locationX>1262</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>UNKNOWN</defaultConnectorLabel>
        <rules>
            <name>outContactFirstName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruChanges.Update_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FirstName</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContactFirstName</targetReference>
            </connector>
            <label>FirstName</label>
        </rules>
        <rules>
            <name>outContactLastName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruChanges.Update_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LastName</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContactLastName</targetReference>
            </connector>
            <label>LastName</label>
        </rules>
        <rules>
            <name>outContactDutyStation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruChanges.Update_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duty_Station</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContactDutyStation</targetReference>
            </connector>
            <label>Duty_Station</label>
        </rules>
        <rules>
            <name>outContactDutyLocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruChanges.Update_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duty_Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContactDutyLocation</targetReference>
            </connector>
            <label>Duty_Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhichObject</name>
        <label>Which Object?</label>
        <locationX>958</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>UNKNOWN</defaultConnectorLabel>
        <rules>
            <name>outWhichObjectContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruChanges.Update_Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decWhichContactField</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>outWhichObjectUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruChanges.Update_Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decWhichUserField</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhichUserField</name>
        <label>Which User Field?</label>
        <locationX>793</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>UNKNOWN</defaultConnectorLabel>
        <rules>
            <name>outUserFirstName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruChanges.Update_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FirstName</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateUserFirstName</targetReference>
            </connector>
            <label>FirstName</label>
        </rules>
        <rules>
            <name>outUserLastName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopThruChanges.Update_Field__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LastName</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateUserLastName</targetReference>
            </connector>
            <label>LastName</label>
        </rules>
    </decisions>
    <description>This flow is autolaunched by Process Builder when Status is changed to Effective</description>
    <interviewLabel>Personnel Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personnel Action - When Status is Effective</label>
    <loops>
        <name>loopThruChanges</name>
        <label>Loop Thru Changes</label>
        <locationX>176</locationX>
        <locationY>718</locationY>
        <collectionReference>getPAChanges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decWhichObject</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNatureOfAction</name>
        <label>Get Nature of Action</label>
        <locationX>176</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPAChanges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPersonnelAction.Nature_of_Action__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Nature_of_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPAChanges</name>
        <label>Get PA Changes</label>
        <locationX>176</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopThruChanges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Personnel_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Personnel_Action_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPersonnelAction</name>
        <label>Get Personnel Action</label>
        <locationX>176</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNatureOfAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Personnel_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateContactDutyLocation</name>
        <label>Update Contact Duty Location</label>
        <locationX>1549</locationX>
        <locationY>763</locationY>
        <connector>
            <targetReference>updateMarkChangeCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThruChanges.Personnel_Action__r.Employee__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duty_Location__c</field>
            <value>
                <elementReference>loopThruChanges.Value_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContactDutyStation</name>
        <label>Update Contact Duty Station</label>
        <locationX>1409</locationX>
        <locationY>763</locationY>
        <connector>
            <targetReference>updateMarkChangeCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThruChanges.Personnel_Action__r.Employee__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duty_Station__c</field>
            <value>
                <elementReference>loopThruChanges.Value_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContactFirstName</name>
        <label>Update Contact FirstName</label>
        <locationX>1083</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>updateMarkChangeCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThruChanges.Personnel_Action__r.Employee__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>loopThruChanges.Value_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContactLastName</name>
        <label>Update Contact LastName</label>
        <locationX>1188</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>updateMarkChangeCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThruChanges.Personnel_Action__r.Employee__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>loopThruChanges.Value_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateMarkChangeCompleted</name>
        <label>Mark Change Completed</label>
        <locationX>965</locationX>
        <locationY>1074</locationY>
        <connector>
            <targetReference>loopThruChanges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThruChanges.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Personnel_Action_Change__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateUserFirstName</name>
        <label>Update User FirstName</label>
        <locationX>717</locationX>
        <locationY>754</locationY>
        <connector>
            <targetReference>updateMarkChangeCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThruChanges.Personnel_Action__r.Employee__r.User_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>loopThruChanges.Value_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateUserLastName</name>
        <label>Update User LastName</label>
        <locationX>890</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>updateMarkChangeCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopThruChanges.Personnel_Action__r.Employee__r.User_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>loopThruChanges.Value_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getPersonnelAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
