src/Personnel_Action_Reset_Eva.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assignResetValues</name>
        <label>Assign Reset Values</label>
        <locationX>176</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>defaultFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eva</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bisset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultDutyLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virginia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultDutyStationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>512034059</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choicePARDutyStationChange</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Duty Station Change PAR&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARDutyStationChange</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePARNameChange</name>
        <choiceText>&lt;b style=&quot;font-size: 16px;&quot;&gt;Name Change PAR&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARNameChange</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decPARProcess</name>
        <label>PAR Process</label>
        <locationX>316</locationX>
        <locationY>487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outNameChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PAR_Process_You_Used</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choicePARNameChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateUserNameChange</targetReference>
            </connector>
            <label>Name Change</label>
        </rules>
        <rules>
            <name>outDutyStationChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PAR_Process_You_Used</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choicePARDutyStationChange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDutyStation</targetReference>
            </connector>
            <label>Duty Station Change</label>
        </rules>
    </decisions>
    <interviewLabel>Personnel Action - Reset Eva {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personnel Action - Reset Eva</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getDutyStation</name>
        <label>Get Duty Station</label>
        <locationX>591</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateContactDutyStation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>defaultDutyStationCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Duty_Station__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmployeeContact</name>
        <label>Get Employee Contact</label>
        <locationX>176</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decPARProcess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContact.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateContactDutyStation</name>
        <label>Update Contact (Duty Station)</label>
        <locationX>763</locationX>
        <locationY>604</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEmployeeContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duty_Location__c</field>
            <value>
                <elementReference>defaultDutyLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Station__c</field>
            <value>
                <elementReference>getDutyStation.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContactNameChange</name>
        <label>Update Contact (Name Change)</label>
        <locationX>762</locationX>
        <locationY>358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEmployeeContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>defaultFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>defaultLastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateUserNameChange</name>
        <label>Update User (Name Change)</label>
        <locationX>594</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>updateContactNameChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEmployeeContact.User_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>defaultFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>defaultLastName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen01</name>
        <label>Before Reset</label>
        <locationX>176</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getEmployeeContact</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This flow will reset Eva Bisset for the Personnel Action Request scenarios.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;During the demo you updated her record details.  This flow will reset Eva to factory settings, meaning it&apos;s only designed to reset values for PAR processes that shipped with the demo org.  Update this flow to account for any customizations you&apos;ve made to PAR scenarios.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Personnel_Action__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Employee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eva&apos;s Current Employee Contact:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PAR_Process_You_Used</name>
            <choiceReferences>choicePARNameChange</choiceReferences>
            <choiceReferences>choicePARDutyStationChange</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choicePARNameChange</defaultSelectedChoiceReference>
            <fieldText>PAR Process You Used:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text01z</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;To proceed, select Eva&apos;s contact record, the PAR process you used, and click &quot;Next&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assignResetValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>defaultDutyLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Virginia</stringValue>
        </value>
    </variables>
    <variables>
        <description>&quot;512034059&quot; is the Duty Station Code for Reston, VA (see Duty_Station__c object)</description>
        <name>defaultDutyStationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>512034059</stringValue>
        </value>
    </variables>
    <variables>
        <name>defaultFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Eva</stringValue>
        </value>
    </variables>
    <variables>
        <name>defaultLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bisset</stringValue>
        </value>
    </variables>
</Flow>
