src/Travel_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_Travel_Request_for_Approval</name>
        <label>Submit Travel Request for Approval</label>
        <locationX>50</locationX>
        <locationY>3134</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>screen08_0</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Travel_Request_ID_Created</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Initialize Variable Settings</description>
        <name>Initialize_Variable_Settings</name>
        <label>Initialize Variable Settings</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>PathIndicatorOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Before You Begin,Overview,Itinerary,Modes,Leg#1,Leg#2,Review,Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employee_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_ID_of_Travel_Request_Created</name>
        <label>Save ID of Travel Request Created</label>
        <locationX>182</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Travel_Request_ID_Created</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Travel_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fields_for_Origin_Itinerary_Point</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_for_Destination_Itinerary_Point</name>
        <label>Set Fields for Destination Itinerary Point</label>
        <locationX>182</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen03Final_Destination_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen03Final_Destination_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Estimated_Transportation_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRP_Estimated_Lodging_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRP_Estimated_Incidental_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Final_Destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Travel_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Request_ID_Created</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Destination_Itinerary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_for_Leg_1_Itinerary_Point</name>
        <label>Set Fields for Leg 1 Itinerary Point</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen05Destination_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen05Destination_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Estimated_Transportation_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen05Estimated_Transportation_Costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRP_Estimated_Lodging_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen05Estimated_Lodging_Costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRP_Estimated_Incidental_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen05Estimated_Meals_Incidental_Costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Final_Destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Travel_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Request_ID_Created</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen05Travel_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Leg_1_Itinerary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_for_Leg_2_Itinerary_Point</name>
        <label>Set Fields for Leg 2 Itinerary Point</label>
        <locationX>270</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen06Destination_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen06Destination_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Estimated_Transportation_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen06Estimated_Transportation_Costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRP_Estimated_Lodging_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen06Estimated_Lodging_Costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRP_Estimated_Incidental_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen06Estimated_Meals_Incidental_Costs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Final_Destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Travel_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Request_ID_Created</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen06Travel_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Leg_2_Itinerary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_for_Origin_Itinerary_Point</name>
        <label>Set Fields for Origin Itinerary Point</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen03City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen03Originating_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Estimated_Transportation_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRP_Estimated_Lodging_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRP_Estimated_Incidental_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Final_Destination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request_Itinerary_Point.TRIP_Travel_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Request_ID_Created</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Origin_Itinerary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_New_Travel_Request</name>
        <label>Set Fields New Travel Request</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125G000001E2T9QAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen02Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Employee_Contact_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.TR_Air__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen04Air</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.TR_Bus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen04Bus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.TR_Government_Owned_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen04Government_Owned_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.TR_Personal_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen04Personal_Owned_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.TR_Rail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen04Rail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.TR_Rental_Car__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen04Rental_Car</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Travel_Request.TR_Taxi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen04Taxi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Travel_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Leg_2_if_City_is_not_null_or_blank_0</name>
        <label>Add Leg 2 if City is not null or blank</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Set_Fields_for_Leg_2_Itinerary_Point</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_Leg_2_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>screen06Destination_City</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_for_Destination_Itinerary_Point</targetReference>
            </connector>
            <label>Skip Leg 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Wants_to_Submit_Travel_Request_for_Approval</name>
        <label>User Wants to Submit Travel Request for Approval</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>screen08_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submit_Button_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen07Submit_for_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Travel_Request_for_Approval</targetReference>
            </connector>
            <label>Submit Button is Selected</label>
        </rules>
    </decisions>
    <description>1/14/21:  Only change is the flow label was renamed</description>
    <dynamicChoiceSets>
        <name>AlternateWorkSiteType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Alternate_Work_Site_Type__c</picklistField>
        <picklistObject>Telework_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeleworkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Telework__c</picklistField>
        <picklistObject>Telework_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>blank</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;</expression>
    </formulas>
    <formulas>
        <name>ContactAddressToText</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingStreet})), {!Get_Employee_Contact_Record.MailingStreet} + &quot;, &quot;, NULL) + IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingCity})), {!Get_Employee_Contact_Record.MailingCity} + &quot;, &quot;, NULL) +
IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingState})),       {!Get_Employee_Contact_Record.MailingState},                    NULL) + IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingPostalCode})),  &quot;, &quot; + {!Get_Employee_Contact_Record.MailingPostalCode} + &quot;, &quot;, NULL) + IF(NOT(ISBLANK({!Get_Employee_Contact_Record.MailingCountry})),     {!Get_Employee_Contact_Record.MailingCountry},                  NULL)</expression>
    </formulas>
    <formulas>
        <name>NextYearsDate</name>
        <dataType>Date</dataType>
        <expression>{!TodaysDate}+365</expression>
    </formulas>
    <formulas>
        <description>Todays Date</description>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Travel Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Travel - Create a Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Destination_Itinerary</name>
        <label>Create Destination Itinerary</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>User_Wants_to_Submit_Travel_Request_for_Approval</targetReference>
        </connector>
        <inputReference>Case_Travel_Request_Itinerary_Point</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Leg_1_Itinerary</name>
        <label>Create Leg 1 Itinerary</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Add_Leg_2_if_City_is_not_null_or_blank_0</targetReference>
        </connector>
        <inputReference>Case_Travel_Request_Itinerary_Point</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Leg_2_Itinerary</name>
        <label>Create Leg 2 Itinerary</label>
        <locationX>270</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>Set_Fields_for_Destination_Itinerary_Point</targetReference>
        </connector>
        <inputReference>Case_Travel_Request_Itinerary_Point</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Travel_Request</name>
        <label>Create New Travel Request</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Save_ID_of_Travel_Request_Created</targetReference>
        </connector>
        <inputReference>Case_Travel_Request</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Origin_Itinerary</name>
        <label>Create Origin Itinerary</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <connector>
            <targetReference>Set_Fields_for_Leg_1_Itinerary_Point</targetReference>
        </connector>
        <inputReference>Case_Travel_Request_Itinerary_Point</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee_Contact_Record</name>
        <label>Get Employee Contact Record</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Supervisor_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_User_Record</name>
        <label>Get Employee User Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supervisor_Record</name>
        <label>Get Supervisor Record</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_User_Record.Manager.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen that will show the &quot;Before You Begin&quot; content.</description>
        <name>screen01</name>
        <label>Before you Begin</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen02</targetReference>
        </connector>
        <fields>
            <name>screen01Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Travel Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Before you begin&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen01ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Before You Begin</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen01Body</name>
            <fieldText>&lt;p&gt;{!BeforeyouBeginTextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen01ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen01ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02</name>
        <label>Travel Overview</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen03</targetReference>
        </connector>
        <fields>
            <name>screen02Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Travel Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Travel Overview&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen02ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Overview</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen02ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen02Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Travel Request - {!Get_Employee_User_Record.Name}</stringValue>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen02Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen02ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen03</name>
        <label>Travel Itinerary</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen04</targetReference>
        </connector>
        <fields>
            <name>screen03Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Travel Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Travel Overview&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen03ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Itinerary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen03ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen03City</name>
            <dataType>String</dataType>
            <fieldText>Originating City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen03Originating_State</name>
            <dataType>String</dataType>
            <fieldText>Originating State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen03Final_Destination_City</name>
            <dataType>String</dataType>
            <fieldText>Final Destination City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen03Final_Destination_State</name>
            <dataType>String</dataType>
            <fieldText>Final Destination State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen03ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen04</name>
        <label>Travel Modes</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen05</targetReference>
        </connector>
        <fields>
            <name>screen04Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Travel Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Travel Modes&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;(Select all that apply)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen04ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Modes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen04ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen04Air</name>
            <dataType>Boolean</dataType>
            <fieldText>Air</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen04Bus</name>
            <dataType>Boolean</dataType>
            <fieldText>Bus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen04Government_Owned_Vehicle</name>
            <dataType>Boolean</dataType>
            <fieldText>Government Owned Vehicle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen04Personal_Owned_Vehicle</name>
            <dataType>Boolean</dataType>
            <fieldText>Personal Owned Vehicle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen04Rail</name>
            <dataType>Boolean</dataType>
            <fieldText>Rail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen04Rental_Car</name>
            <dataType>Boolean</dataType>
            <fieldText>Rental Car</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen04Taxi</name>
            <dataType>Boolean</dataType>
            <fieldText>Taxi</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen04ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen05</name>
        <label>Travel Leg #1</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen06</targetReference>
        </connector>
        <fields>
            <name>screen05Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Travel Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Travel Leg #1&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen05ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Leg#1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen05ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen05Destination_City</name>
            <dataType>String</dataType>
            <fieldText>Destination City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen05Destination_State</name>
            <dataType>String</dataType>
            <fieldText>Destination State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen05Travel_Date</name>
            <dataType>Date</dataType>
            <fieldText>Travel Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen05Estimated_Transportation_Costs</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Transportation Costs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>screen05Estimated_Lodging_Costs</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Lodging Costs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>screen05Estimated_Meals_Incidental_Costs</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Meals &amp; Incidental Costs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>screen05ContinueText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen06</name>
        <label>Travel Leg #2</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen07</targetReference>
        </connector>
        <fields>
            <name>screen06Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Travel Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Travel Leg #2&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;(Optional)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen06ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Leg#2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen06ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen06Destination_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>N/A</stringValue>
            </defaultValue>
            <fieldText>Destination City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen06Destination_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>N/A</stringValue>
            </defaultValue>
            <fieldText>Destination State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen06Travel_Date</name>
            <dataType>Date</dataType>
            <fieldText>Travel Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen06Estimated_Transportation_Costs</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Transportation Costs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>screen06Estimated_Lodging_Costs</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Lodging Costs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>screen06Estimated_Meals_Incidental_Costs</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Meals &amp; Incidental Costs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>screen05ContinueText_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen07</name>
        <label>Travel Review</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Fields_New_Travel_Request</targetReference>
        </connector>
        <fields>
            <name>screen07Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(75, 103, 205);&quot;&gt;Travel Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(75, 103, 205);&quot;&gt;Travel Submission&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen07ProgressIndicator</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Review</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen07ContinueTextHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen07Submit_for_Approval</name>
            <dataType>Boolean</dataType>
            <fieldText>Submit for Approval</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen07SubmissionMessage</name>
            <fieldText>&lt;p&gt;Click the &quot;Finish&quot; button to submit your travel request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen02ContinueText_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Next&quot; button to begin creation and/or submission.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen08_0</name>
        <label>Travel Request Complete</label>
        <locationX>182</locationX>
        <locationY>3350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen08Title_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 20px;&quot;&gt;Travel Request&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(75, 103, 205); font-size: 14px;&quot;&gt;Travel Submission Complete&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen08ProgressIndicator_0</name>
            <extensionName>c:progressIndicator20180227</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Complete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>PathIndicatorOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen08ContinueTextHR_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen07SubmissionMessage_0_0</name>
            <fieldText>&lt;p&gt;Your travel request has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen02ContinueText_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;i&gt;To continue, click the &quot;Finish&quot; button.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Variable_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BeforeyouBeginTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This form is used to initiate/request a Travel Request.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Each employee create a travel request with details concerning each leg of his/her itinerary. Once submitted his/her manager will review and approve / reject each request. The manager may add additional comments regarding their decision.&amp;nbsp;The parameters of this will include:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Request Name&lt;/li&gt;&lt;li&gt;Description of travel and reason&lt;/li&gt;&lt;li&gt;Originating location&lt;/li&gt;&lt;li&gt;Final Destination location&lt;/li&gt;&lt;li&gt;Details for each leg of the trip&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TeleworkRequestReview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;General&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Employee Name&lt;/b&gt;: {!Get_Employee_User_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Supervisor&lt;/b&gt;: {!Get_Supervisor_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Self Certification&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Status&lt;/b&gt;: Complete&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Telework Plan&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Telework Request Type&lt;/b&gt;: {!TeleworkAgreement.Type_of_Telework__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Alternate Work Site&lt;/b&gt;: {!TeleworkAgreement.Alternate_Work_Site_Type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Reasonable Accommodations&lt;/u&gt;&lt;/p&gt;&lt;p&gt;N/A&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;Equipment Request&lt;/u&gt;&lt;/p&gt;&lt;p&gt;None&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TeleworkSelfCertificationTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;As a Government of the Future Teleworker, I certify that I have reviewed and agree to comply with all of the terms and conditions listed in the Telework Policy, Telework Guidelines, this Telework Agreement and all other terms and conditions of employment. This includes all provisions within Government of the Future Human Resources Policy #xxx: Standards of Conduct and Ethics in Government. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;I agree to spend the time approved for telework performing the assigned duties and responsibilities of my position.&lt;/li&gt;&lt;li&gt;I agree to maintain contact with my work unit, as appropriate, to successfully perform my assigned duties and responsibilities.&lt;/li&gt;&lt;li&gt;I agree to contact my manager/supervisor to request prior approval for leave.&lt;/li&gt;&lt;li&gt;I agree to maintain a safe telework environment that is conducive to productivity.&lt;/li&gt;&lt;li&gt;Arrangements have been made for dependent care.&lt;/li&gt;&lt;li&gt;Non-business-related activity will be kept to a minimum.&lt;/li&gt;&lt;li&gt;I agree to immediately report to my manager/supervisor, IT, and the Agency Telework Coordinator any security issue that arise at my telework site.&lt;/li&gt;&lt;li&gt;I understand that the Government of the Future is not liable for any damages to my personal or real property, while I am performing official duties at my telework site.&lt;/li&gt;&lt;li&gt;I agree to immediately report to my manager/supervisor any work-related injuries that occur, while teleworking in my designated workspace.&lt;/li&gt;&lt;li&gt;I understand that the sole purpose of this agreement is to regulate telework and that it does not constitute a contract of employment.&lt;/li&gt;&lt;li&gt;I understand that telework is voluntary and is not an employee right.&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>ApprovalRequestRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Used to create new travel request case.</description>
        <name>Case_Travel_Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>One Itinerary Point for a travel leg</description>
        <name>Case_Travel_Request_Itinerary_Point</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TR_Itinerary_Point__c</objectType>
    </variables>
    <variables>
        <description>These are the path indicator options that will be referenced on every screen.</description>
        <name>PathIndicatorOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeleworkAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Telework_Agreement__c</objectType>
    </variables>
    <variables>
        <name>Travel_Request_ID_Created</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
